<!DOCTYPE html>
<html lang="pt-BR">
  <%- include ("../layouts/head", {title: "Bela Vista - Sobre",
  css:"src/public/styles/about.css"}) %>
  <body style="background-color: #f5f5f5">
    <div style="overflow: hidden">
      <header>
        <%- include ("../layouts/header") %>
        <div style="background-color: #0078909a">
          <div class="contentHeader container">
            <h1>DESDE 2003 A MELHOR HOSPEDAGEM DA REGIÃO</h1>
            <h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
              vulputate commodo lectus, ac blandit elit tincidunt id. Sed
              rhoncus, tortor sed eleifend tristique, tortor mauris molestie
              elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet
              elit iaculis pretium sit amet quis magna. Aenean velit odio,
              elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus
              aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate
              justo hendrerit. Vivamus varius pretium ligula, a aliquam odio
              euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at
              ultricies metus viverra. Pellentesque arcu mauris, malesuada quis
              ornare accumsan, blandit sed diam.
            </h4>
          </div>
        </div>
      </header>
      <div class="bodyContent container">
        <section
          class="photoSection"
          data-aos="fade-down-right"
          data-aos-duration="1000"
        >
          <img src="src/public/images/about/employees.jpg" alt="employees" />
        </section>
        <section
          class="employeesTextSection"
          data-aos="fade-down-left"
          data-aos-duration="1000"
        >
          <h2>NOSSO TIME</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
            velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate
            commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor
            sed eleifend tristique, tortor mauris molestie elit, et lacinia
            ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium
            sit amet quis magna. Aenean velit odio, elementum in tempus ut,
            vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate
            eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
            pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem
            sit amet orci ullamcorper at ultricies metus viverra. Pellentesque
            arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
          </p>
          <div class="text-center">
            <img
              src="src/public/images/leafSeparator.png"
              alt="leafSeparator"
            />
          </div>
        </section>
        <section
          class="adressSection"
          data-aos="fade-up-right"
          data-aos-duration="1000"
        >
          <h5>ENDEREÇO</h5>
          <p>Rua Albert Einstein 152</p>
          <p>Bairro Jacarandá</p>
          <p>Uberlandia - Minas Gerais</p>
          <p>
            <img src="src/public/images/whatsapp.svg" alt="whatsImg" />
            (11) 00000-0000
          </p>
        </section>
      </div>
    </div>

    <%- include ("../layouts/footer") %>
  </body>
</html>
