<footer>
  <h3 class="logoText">Hotel Bela Vista</h3>
  <p class="footerDescription">
    Lorem ipsum dolor sit amet, consectetur adipiscing
  </p>
  <a href="https://www.whatsapp.com/" target="_blank"
    ><img
      src="src/public/images/whatsapp.svg"
      alt="whatsImg"
      class="socialMediaImg"
  /></a>
  <a href="https://www.instagram.com/" target="_blank"
    ><img
      src="src/public/images/instagram.svg"
      alt="instaImg"
      class="socialMediaImg"
  /></a>
  <a href="https://www.tiktok.com/" target="_blank"
    ><img
      src="src/public/images/tiktok.svg"
      alt="tiktokImg"
      class="socialMediaImg"
  /></a>
</footer>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>