<nav class="navbar fixed-top p-0">
  <div id="navbarContent" class="container">
    <a class="logoText mt-1" href="/">Hotel Bela Vista</a>
    <div class="navLinks">
      <a href="/">INICIO</a>
      <a href="/about">SOBRE</a>
      <a href="/contact">CONTATO</a>
    </div>
  </div>
</nav>
